*{
    padding: 0px;
    margin: 0px;
}
nav{
    position: fixed;
}

.sect{
    background-color: rgb(42, 177, 177);
    width: 210px;
    height: 50px;
    border-radius: 20px;
    
   
}
.rect1{
    display: flex;
    justify-content: center;
    
}
.OIF{
    display: flex;
    justify-content: center;
    margin-top: -100px;
    color:white;
}
/* .rect{
    background-color: rgb(191, 187, 187);
    height: 700px;
    width: 100%;
} */
.rect2{
    background-color: rgb(42, 177, 177);
    width: 385px;
    height: 40px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 100px;
  
}
.presenta{
    margin-left: 62px;
    margin-top: -35px;
    color: white;
   
}
.rect3{
    background-color: rgb(42, 177, 177);
    width: 210px;
    height: 40px;
    border-radius: 20px;
    margin-left: 1020px;
    margin-top: -190px;
}
.for{

    margin-left: 1044px;
    margin-top: -39px;
    color: white;
}
.apport{
    margin-left: 18px;
}
.dev{
    margin-left: 1044px;  
}
.im6{
    width: 200px;
    height: 150px;
    margin-left: 1044px;
}
.btn{
    background-color: rgb(12, 159, 159);
    margin-left: 130px;
    margin-top: -180px;
}
.im5{
    width: 100%;
    opacity: 40%;
    
}
.carte{
    width: 600px;
    height: 400px;
    margin-top: -500px;
}
.pays{
    margin-left: 1000px;
    margin-top: -40px;
}
.bene{
    color: white;
}
.rect4{
    background-color: rgb(42, 177, 177);
    width: 239px;
    height: 40px;
    border-radius: 20px;
    margin-left: 990px;
    margin-top: -400px;
}
.rect6{
    background-color: rgb(72, 205, 81);
    width: 195px;
    height: 40px;
    border-radius: 20px;
    margin-top: 300px;
    margin-left: 500px;
}
.temoi{
    margin-left: 510px;
    margin-top: -40px;
    color: white;
}
.rect7{
    background-color: rgb(22, 1, 247);
    width: 210px;
    height: 40px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 40px;
}
.contact{
    margin-top: -40px;
    margin-left: 47px;
    color: white;

}
.form1{
    margin-top: 30px;
}
.form2{
    margin-top: 15px;
}
.form3{
    margin-top: 15px;
}
.form4{
    margin-top: 15px;
}
.section_form{
    margin-left: 47px;
}
button{
    margin-top: 15px;
    margin-left: 47px;
    background-color: rgb(22, 1, 247);
    color: white;
    border: none;
    border-radius: 15px;
    width: 100px;
}
.derim{
    width: 500px;
    height: 350px;
    margin-left: 300px;
    margin-top: -150px;
}
.footer{
    background-color: black;
    width: 100%;
    height: 300px;
}
.imlogo{
    margin-top: -470px;
    width: 150px;
    height: 90px;
}
.gauche{
    margin-top: -130px;
    color: white;
}
.pub{
    margin-top: -220px;
    margin-left: 850px;
    color: white;
}
.p1{
    margin-top: 15px;
}
.facebook{
    width: 40px;
    height: 30px;
    margin-left: 520px;
    margin-top: -30px;
}